<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>详情页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/my.css">
</head>
<body>
<!--导航-->
<!--segment片段 inverted反转-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">SearchAll</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"
                                                             style="margin-right: 2em;margin-bottom: 4px"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"
                                                             style="margin-right: 2em;margin-bottom: 4px"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"
                                                             style="margin-right: 2em;margin-bottom: 4px"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"
                                                             style="margin-right: 2em;margin-bottom: 4px"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"
                                                             style="margin-right: 2em;margin-bottom: 4px"></i>关于我</a>
            <div class="right m-item m-mobile-hide item">
                <!--                transparent透明，inverted 反转-->
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间-->
<div id="content" class="m-container-small m-padded-tb-big">
    <!--左右布局-->
    <div class="ui container"><!--最适尺寸调整-->
        <div class="ui top attached segment">
            <!--作者区域-->
            <div class="ui mini horizontal link list">
                <div class="item">
                    <img src="https://picsum.photos/id/103/100/100" alt="" class="ui avatar image">
                    <div class="content"><a href="#" class="header">王瀚</a></div>
                </div>
                <div class="item">
                    <i class="calendar icon"></i>2021-1-6
                </div>
                <div class="item">
                    <i class="eye icon"></i>2314
                </div>
            </div>
        </div>
        <div class="ui attached segment">
            <!--图片区域 fluid充满-->
            <img src="https://picsum.photos/id/1/800/450" alt="" class="ui fluid rounded image">
        </div>
        <div class="ui attached segment">
            <!--文章内容-->
            <div class="ui right aligned basic segment">
                <div class="ui orange basic label">原创</div>
            </div>
            <h2 class="ui center aligned header">如何让自己像打王者荣耀一样发了疯、拼了命、石乐志的学习？</h2>
            <br>
            <div class="m-padded-lr-responsive m-padded-tb-large">
                <p>反馈机制是王者荣耀的核心武器&<span id="xff0c"></span>;击杀野怪获得金币&#xff0c;击杀敌人之后的画面、音效刺激大脑&#xff0c;不断地努力&#xff0c;获得奖励是我们不断的玩这个游戏的主要原因&#xff0c;也是人的本能&#xff0c;<code>我什么都得不到凭什么这么做&#xff1f;</code>&#xff0c;对记得初二的时候&#xff0c;父亲说如果你能考全校第三我就给你买一台电脑&#xff0c;当时我从全校xx名考到了全校第x名&#xff0c;而这只用了一个月的时间&#xff0c;还有&#xff0c;我希望给电脑换一个内存条&#xff0c;为什么&#xff1f;因为我希望电脑变得很快&#xff0c;对<code>奖励机制十分重要</code>&#xff0c;所以如果想要努力的做一件事情&#xff0c;就要反复的告诉自己我如果做成功了&#xff0c;能得到什么&#xff1f;而能得到的这件东西也是你特别想要得到的东西&#xff0c;包括名利、金钱、女朋友&#xff0c;人类都是有欲望的&#xff0c;这是不可争的必然存在的无须掩饰的事实&#xff0c;而我们为什么不把这些略显丑陋的东西转化为我们努力前进过程的一个诱饵&#xff0c;得到与否&#xff0c;可耻与否不重要&#xff0c;重要的是得到了努力的过程。
                </p>
                <p>而<code>阶段性</code>的反馈机制更是重要&#xff0c;王者荣耀多玩一局&#xff0c;就能攒更多金币买新的铭文&#xff1b;补一个兵就能得到金币&#xff0c;致使你最终达到摧毁水晶的目的&#xff0c;如果中间没有补兵、升级、击杀带来的快感、强化装备这些实时的反馈&#xff0c;估计没人能够坚持十几二十分钟甚至半小时&#xff08;LOL时间更长&#xff09;的时间来不停的摩擦手机屏幕。包括嗑瓜子&#xff0c;为什么人们嗑瓜子&#xff0c;都是一个接一个&#xff1f;停不下来&#xff0c;因为这件事情轻而易举&#xff0c;只需要抬抬手&#xff0c;就能很快得给我们反馈&#xff0c;让我们感到愉快&#xff0c;所以就会对嗑瓜子这件事情乐此不疲。为什么刷抖音一刷半天过去了&#xff0c;可是自己却感觉不到。可是学习&#xff0c;一天、两天、一周、一个月、半年&#xff0c;甚至一年都没有什么变化&#xff0c;看不到成效&#xff0c;可是突然有一天&#xff0c;你会发现自己&#xff0c;hia
                    hia 流弊 ~ 可是很多人都等不到那一天。</p>
                <p>为什么打游戏的过程中不能被干扰&#xff0c;一次坐公交车&#xff0c;我前方的女士在玩鲁班&#xff0c;男朋友一个电话过来&#xff0c;挂掉&#xff0c;接着打&#xff0c;男朋友又打来&#xff0c;接了&#xff0c;游戏输了&#xff0c;然后她回电话给男朋友&#xff0c;我们分手吧。为什么游戏中一分一秒都显得那么的珍贵&#xff1f;因为你现在每补的一个兵&#xff0c;每击杀的一个地方英雄都直接影响到最终的胜利&#xff0c;而你在这个过程中也越来越强&#xff0c;这也是一种实时的反馈。之前的穿越火线、DNF、QQ飞车等都没有这种机制&#xff0c;我想这也是为什么英雄联盟能够长时间霸榜的原因之一吧。</p>
                <p>当然也可以理解为<code>收获</code>&#xff0c;就像我学习了一项技能&#xff0c;如果这项技能用不到&#xff0c;久而久之就荒废了&#xff0c;我学他没用啊&#xff0c;对不对。如果我学习了这项技能&#xff0c;短期内工作中用到了&#xff0c;获得了金钱的回报&#xff0c;那也能持久的学习下去了吧我认为。
                </p>
                <p>为此我们应该&#xff1a;</p>
                <ol>
                    <li><p>反复的告诉自己只有努力的xxx才能得到xxx&#xff0c;只要努力xxx就一定能得到xxx。</p></li>
                    <li><p>每完成一个小目标就给自己一个小小的奖励&#xff1a;看场电影、买一套新衣服、cherry键盘、换一个手机、换一个mac、说走就走的旅行&#xff0c;你能想到的自己想要的能满足自己欲望的但是平时又不敢或者不舍得且来之不易的东西。人都是有欲望的&#xff0c;当然如果你的欲望就是学习&#xff0c;那你就奖励自己再学五百年吧~哈哈&#xff08;注意&#xff1a;这里的奖励不要是让人上瘾的东西&#xff0c;你奖励自己打游戏、刷肥皂剧&#xff0c;那不在骗自己吗&#xff1f;&#xff09;<br/>
                        比如马上速度与激情&#xff1a;特别行动就要上映了&#xff0c;好像是八月二十三号&#xff0c;可以把这个当做奖励&#xff0c;督促自己在这段时间完成某个小目标&#xff0c;然后就去嘿嘿嘿~<br/>
                        比如每学习完某个<code>小的阶段</code>&#xff0c;奖励自己看一部电影&#xff08;提前将自己最最最最最喜欢看的电影列一个清单&#xff09;或者奖励自己弹两小时吉他。<br/>
                        当你第一次出色完成任务&#xff0c;并得到奖励&#xff0c;后面再进行“反馈”&#xff0c;会轻松很多&#xff0c;如此往复&#xff0c;直到建立了完整的反馈机制&#xff0c;那你的身体就能跟着你的思想走了&#xff0c;也就可以<code>把自己玩的团团转</code>了。
                    </p></li>
                    <li><p>画图<br/> 看源码–&gt;画流程图<br/> 知识点–&gt;画思维导图<br/> 难以理解的概念&#xff0c;记不住的知识点–&gt;画象形图&#xff08;不知道取什么名字&#xff0c;就好像“象形文字”&#xff09;<br/>
                        这里说的不是简简单单的画图&#xff0c;而是更加强调 <code>夸张、色彩、图形、关键词、层次</code>。<br/> 王者荣耀通过<code>酷炫画面</code>的强烈刺激让我们欲罢不能&#xff0c;那么我认为学习同样也是可以的&#xff0c;我们对于图形、色彩天生敏感&#xff0c;密密麻麻的黑白颜色的文字确实让我们无法提起精神&#xff0c;好吧我承认&#xff0c;事实可能确实是这样的。<br/>
                        以图学习的优点&#xff1a;</p>
                        <ol>
                            <li>生动形象&#xff0c;激发兴趣&#xff0c;加强<code>刺激</code>感&#xff0c;像游戏般学习&#xff0c;源码也不再枯燥&#xff08;人家本来就不枯燥&#xff09;&#xff0c;你以为我在学习吗&#xff1f;错了&#xff0c;憨憨&#xff0c;我在追求艺术&#xff0c;艺术懂吗&#xff1f;
                            </li>
                            <li><code>上帝视角</code>&#xff0c;跳出细节&#xff0c;统揽全局&#xff0c;发现内在联系&#xff0c;探究事物<code>本质</code></li>
                            <li>建立知识网络&#xff08;<code>体系</code>&#xff09;&#xff0c;打通脉络&#xff0c;回忆某个知识点的时候不是哪本书的第几页第几行&#xff0c;而是在脑海中迅速定位到沿着某张思维导图中心节点展开追溯到某个颜色线条的某个分支之后的某个节点&#xff0c;而顺着这个知识点我们甚至会有自己更多的可能。
                            </li>
                            <li>思维迸发&#xff0c;激发灵感。思维导图即我们的思维&#xff0c;是我们考虑问题时候内心的真实想法&#xff0c;能够给予我们更多的创造性的思考。</li>
                            <li>图形化记忆在脑海中存留时间更长&#xff0c;整个知识体系不再是干巴巴的文字&#xff0c;而是一张生动的世界地图。我个人认为记忆可以归结为<code>图&#43;重复</code>&#xff0c;不论是谐音、口诀、联想等方法最终本质都是图。
                            </li>
                        </ol>
                        <p>思维导图更加强调&#xff1a;<code>自己画</code>&#xff08;别人的无效&#xff0c;思维导图是自己的思维&#xff0c;每个人思维是不一样的&#xff09;、颜色、图形、图片、层次、关键词
                            &#xff08;总结&#xff1a;要有<code>视觉冲击力</code>&#xff0c;简单结构、黑白颜色的思维导图和字典的目录没有区别&#xff09;<br/> 分享下自己的某个思维导图&#xff0c;有很多缺陷&#xff0c;比如缺少生动的图片、字数冗余不容易窥探重点。<br/>
                            <br/> Tips&#xff1a;思维导图本质上最大的作用是整理思维而并非记忆&#xff08;个人观点&#xff09;</p></li>
                    <li><p>坚持玩那个种树的游戏&#xff08;具体的名字我先不说了&#xff0c;不是打广告&#xff09;&#xff0c;将自己的学习量化&#xff0c;让自己知道自己努力了&#xff08;虽然看起来像是仪式感太强&#xff0c;但是我觉得表面努力也是一种努力&#xff0c;不应该完全忽略&#xff0c;还有学习不应该怕被别人发现&#xff09;。这是我认为目前将奖励机制做的最好的时间管理软件&#xff0c;最后希望能种植一棵真正的树&#xff0c;也算小小的成就感吧~哈哈</p>
                    </li>
                    <li><p>Leetcode等网站做题&#xff0c;做出其中一道题也会给人短暂的快感、成就感</p></li>
                    <li><p>在工作中&#xff0c;以每一个问题为目标&#xff0c;每解决一个问题给自己及时反馈&#xff0c;不仅自我提升&#xff0c;还能涨工资。</p></li>
                    <li><p>在电脑桌、床头等地方放几个相框&#xff0c;相框里面是能够激励自己的事物&#xff08;比如喜欢公司的办公楼、喜欢的大学、喜欢的美女、喜欢的豪车、面朝大海的房子等&#xff09;。</p>
                    </li>
                    <li><p>番茄工作法&#xff0c;这也是一种奖励机制&#xff0c;25分钟的高度集中&#xff0c;换来放松5分钟的奖赏&#xff0c;多次重复&#xff0c;形成习惯&#xff0c;让自己形成条件反射&#xff0c;能够更加专注的做事&#xff0c;说实话我们确实需要跟自己的身体进行有效的谈判&#xff0c;而不是强制。&#xff08;番茄时间和休息时间根据自己实际情况调整&#xff09;<br/>
                        Forest的种树间隔默认是25分钟&#xff0c;番茄TODO、滴答清单&#xff0c;等也都能设置番茄钟&#xff0c;实在不行手机倒计时也行。<br/> tips&#xff1a;我个人认为如果自己能够保持长时间专注&#xff0c;或者说正在进行不需要充分专注的工作内容&#xff08;比如正在用Docker安装一个环境&#xff0c;你自己已经很熟练不会遇到任何问题&#xff09;&#xff0c;就不要用到番茄工作法&#xff0c;前者不用番茄钟已经可以做到专注&#xff0c;用了反而会打断自己的思路&#xff1b;后者重复性劳动本身不需要专注&#xff0c;却消耗番茄时间&#xff0c;番茄的休息时间也没有落下&#xff0c;骗自己么&#xff1f;真正需要番茄工作法的是需要高度集中注意力的工作&#xff0c;比如逻辑推理、大量的运算、持续的记忆等&#xff0c;才能将番茄钟的价值体现到最大化。<br/>
                        tips&#xff1a;我个人认为屏住呼吸是最好的专注和自律的方法</p></li>
                </ol>
                <blockquote>
                    <p>番茄工作法是一个训练自控力的方法&#xff0c;但并非完成某件事的必要条件。那些有所成就的人&#xff0c;必然已经是拥有强大的自控力属性&#xff0c;让他们能在和别人同样的 24
                        小时内更多更好的完成了工作。科比不需要设个番茄钟来规范自己每练习投篮 25 分钟就休息 5 分钟&#xff0c;但是他能看到「洛杉矶 4 点钟的样子」&#xff0c;第一个到球场训练&#xff0c;退役时手指因为投篮训练过度而变形——这是自控力的一种体现&#xff0c;也是番茄工作法的所追求的目标。<br/>
                        摘自&#xff1a;https://sspai.com/post/37307</p>
                </blockquote>
                <ol start="9">
                    <li>直播学习&#xff0c;bilibili上有很多这样的学播&#xff0c;可以尝试下&#xff0c;看到观看人数的增长、粉丝的增长也是一种反馈&#xff0c;让自己有动力持续播下去&#xff0c;当然&#xff0c;直播这种形式&#xff0c;可能让自己分心&#xff0c;但是就算分心自己也把时间花在了学习上&#xff0c;总比一点不学强了呢~&#xff0c;看自己怎么取舍了。</li>
                </ol>
                <p>
                    <br/> 请等一等&#xff0c;以上所说大部分为外界奖励。</p>
                <p>奖励机制分为外界奖励和自我奖励<br/> 外界奖励&#xff1a;以物质、精神鼓励等形式对一件事情进行肯定&#xff1b;外界奖励被普遍运用在现在的学习、教学中。<br/> 优点&#xff1a;1.简单快捷
                    2.条件反射<br/> 缺点&#xff1a;1.可能失去对于事务本身的热爱 2.需要持续的外界刺激&#xff0c;奖励消失&#xff0c;行为难以继续保持</p>
                <p>自我奖励&#xff1a;和<code>激情</code>相关&#xff1b;<code>享受实践过程大于结果</code>&#xff1b;无需外界奖励作为刺激&#xff1b;纯天然的满足感<br/> 优点&#xff1a;不会随着时间的推移而减弱甚至丧失&#xff0c;给人带来高幸福感与满足感&#xff1b;<br/>
                    缺点&#xff1a;仅仅适用于自己真正喜爱的事物&#xff0c;对于其他工作较难实施<br/> 难点&#xff1a;找到自己热爱的事物</p>
                <p><code>最好的激励方式&#61;自我激励&#43;外界激励</code></p>
                <blockquote>
                    <p>一群熊孩子总是喜欢去一位老爷爷的后花园玩耍&#xff0c;老爷爷想尽所有的办法都不能使得他们离开&#xff0c;最后他想到了一个办法&#xff1a;召集所有的熊孩子&#xff0c;他们每来一次后花园就给他们一元钱。熊孩子们玩的<code>更加</code>开心&#xff0c;<code>既能开心的玩耍还有钱赚</code>。但是一周后&#xff0c;老爷爷很不幸的说自己破产了并且再也没有钱给他们了&#xff0c;熊孩子们说<code>我们来这里玩就是为了你那一元钱&#xff0c;现在钱也没了&#xff0c;我们再也不来了&#xff0c;嘤嘤嘤~</code>
                    </p>
                </blockquote>
                <p>以上奖励机制的分类来自&#xff1a;让你比别人聪明10倍的哈佛学习力课</p>
                <p>不断的外界奖励会导致我们丧失对于学习这件事情本身的热爱&#xff0c;如果有一天再也没有了外界奖励&#xff08;大餐、衣服、电影&#xff09;&#xff0c;我们也就不会再学习了&#xff0c;因为我们爱的不是学习&#xff0c;而是是大餐、衣服、电影&#xff0c;而学习这件事情就像例行公事&#xff0c;完成任务。这也可能就是为什么考上大学之后很多人都不再好好学习了&#xff0c;因为好好学习就是为了考大学&#xff0c;也可能是为什么很多人找到心仪的工作之后就不在好好学习了&#xff0c;因为好好学习就是为了找到心仪的工作。</p>
                <p>自我奖励能让自己充满<code>激情</code>&#xff0c;能<code>持久</code>的带给我们<code>更高满足感</code>&#xff0c;如果学习这件事情对我们来说本身就是一种奖励&#xff08;学习自己喜欢的东西&#xff09;&#xff0c;每时每刻都在给我们进行着<code>反馈</code>&#xff0c;那还需要什么&#34;身外之物&#34;么&#xff1f;我们是小确幸的&#xff0c;因为我们是程序猿/媛&#xff0c;你懂我的意思吧。如果是为了得到某样东西而去学习一样东西&#xff0c;那永远也走不远至少我这么认为&#xff0c;可能会是短期的动力和快速的回报&#xff0c;但是一旦到达某个阈值&#xff0c;那会不会发生雪崩式的<code>反弹</code>&#xff1f;
                </p>
                <p>为此我们应该&#xff1a;</p>
                <p><strong><font color="red"> 从内心深处明白自己想要什么&#xff0c;渴望什么&#xff0c;静下心来&#xff0c;全身心的投入进去&#xff0c;发自内心的喜欢它&#xff0c;热爱它&#xff0c;渴望它&#xff0c;真真切切的享受它</font></strong>
                    &#43; 适当的外界奖励。</p>
                <p>如果你已经拥有了<code>自我奖励</code>&#xff0c;那请不要往下看了&#xff0c;剩下的都不重要了&#xff0c;不要在听我在这里比比来来胡说八道浪费时间&#xff0c;赶紧去保持自己的热爱与激情罢&#xff01;
                </p>
                <h1><a id="_75"></a>排名机制</h1>
                <p>王者荣耀善用朋友圈&#43;排名的机制&#xff0c;每个人都是希望自己与众不同、比别人强&#xff0c;这也是人类能够不断进步的根本原因&#xff0c;和上面的阶段性反馈一样&#xff0c;能够得到什么和希望比别人优秀都是人的本能&#xff0c;希望我们能善用人的本能。<br/>
                    杠精要出来了&#xff0c;&#34;千万不要有跟人斗的心,不要跟人比,你要赢得是你自己。&#34;是啊&#xff0c;这是电影《头文字D》中藤原文太说给藤原拓海的一段话&#xff0c;可是反着想&#xff0c;为什么他会跟拓海这么说&#xff1f;因为他害怕拓海跟别人比&#xff0c;因为这是人的本能。<br/>
                    <br/> 排名机制提供的这种虚假的社会地位&#xff0c;使我们找到了存在感&#xff0c;很好的激励了我们&#xff0c;如果能够将排名的机制用在学习中&#xff0c;相信任何人也会乐此不疲&#xff01;
                </p>
                <p>为此我们应该&#xff1a;</p>
                <ol>
                    <li><strong><font color="red">坚持在csdn写博客&#xff08;嘿嘿嘿、臭不要脸&#xff09;</font></strong><br/> 写博客确实是个不错的学习方式&#xff0c;能够将自己的学习量化&#xff0c;看得见摸得着&#xff0c;给予实时反馈&#xff0c;排名、访客、徽章&#xff0c;增加成就感&#xff0c;不断激励自己。
                    </li>
                    <li>坚持玩种树的那个游戏</li>
                    <li>《人性的弱点》第四章的第十二小节。</li>
                    <li>暂时还没想到更好的</li>
                </ol>
                <h1><a id="_88"></a>唯我独尊、救世主</h1>
                <p>
                    玩过LOL的都知道&#xff0c;五杀的快感&#xff0c;尤其是第一次五杀&#xff0c;这种快感我感觉不亚于吸毒&#xff08;虽然我没有吸过&#xff09;&#xff0c;包括王者荣耀上王者的快感同理。<br/>
                    <br/> 实不相瞒&#xff0c;我确实是王者的&#xff0c;战绩可查&#xff0c;哈哈哈。</p>
                <p>是的&#xff0c;人的本性就是“唯我独尊”&#xff0c;让别人感觉到自己很重要。每次获得MVP&#xff0c;还有一打五&#xff0c;尤其是经济落后的时候一打五&#xff0c;包括丝血反杀&#xff0c;等等比较“秀”的操作&#xff0c;更是给人快感&#xff0c;尤其是和同学、朋友、女孩子&#xff0c;一起的时候&#xff0c;别人的一句“牛x啊&#xff0c;兄嘚儿”&#xff0c;自己也会对自己说一句&#xff0c;“我他吗真x”&#xff0c;这些都能让自己浑身的血液沸腾&#xff0c;“越战越勇”&#xff0c;这都是因为人的本性就是自重&#xff0c;每个人都希望与众不同&#xff0c;认为自己是世界的中心&#xff0c;世界的主宰&#xff0c;能够拯救世界&#xff0c;救世主是我没错了&#xff0c;小时候你有没有梦想过自己成为蜘蛛侠&#xff1f;又或者迪迦奥特曼&#xff1f;有没有梦想过像电视里面的主角一样&#xff0c;即将要被打败&#xff0c;突然电闪雷鸣&#xff0c;音乐响起&#xff0c;有一股神奇的力量汇聚于手掌&#xff0c;最终神奇般的力挽狂澜将邪恶势力打败&#xff0c;而这些游戏都能轻松的让我们统统得到&#xff08;我三级瞎子杀了对面六级的亚索&#xff0c;我一个小短剑的瑞雯杀了拿着黑切的诺克&#xff0c;水晶丝血五杀最终反败为胜&#xff09;。虽然随着年龄的增长&#xff0c;这种自重的意识被我们隐藏起来了&#xff0c;但是还是很强烈&#xff01;</p>
                <p>只不过游戏带给我们的这种感觉更简单&#xff0c;如果是编程人员&#xff0c;或者说技术人员&#xff0c;等等其他一切职业&#xff0c;想要一打五&#xff0c;恐怕不是在电脑前苦练一两周就可以达到的&#xff0c;需要更长的时间&#xff0c;一年、两年&#xff0c;甚至更久&#xff0c;相信大家都听过“一万小时理论”&#xff0c;没错&#xff0c;想要成为专家需要大概一万小时。而游戏就不一样了&#xff0c;能够在很短的时间内&#xff0c;带给我们这种被关注、被重视的感觉&#xff0c;所以人们都愿意沉迷于游戏&#xff0c;日渐消瘦&#xff0c;而不愿意沉迷于学习&#xff0c;终生不悔。</p>
                <p>环境真的很重要&#xff0c;前面说过&#xff0c;人都是自重的都希望自己比别人厉害&#xff0c;是的&#xff0c;你周围都是打游戏的人&#xff0c;他给你秀操作&#xff0c;你就希望自己秀更加厉害操作给他看&#xff0c;反之&#xff0c;你周围都是学习较好的同学&#xff0c;积极上进的同事&#xff0c;你就希望自己比他成绩更好&#xff0c;当别人比自己厉害的时候&#xff0c;总是在心里发出“哼~”等声音&#xff0c;我们喜欢这种挑衅&#xff0c;所以希望能找到这个总是不断发出挑衅的人&#xff0c;激发自己的斗志。</p>
                <p>其实学霸为什么厉害&#xff1f;因为他们希望被认可&#xff0c;希望被关注&#xff0c;“小明好厉害&#xff0c;差一分满分”&#xff0c;他们享受这种被认可的感觉&#xff0c;而且相对来说短期内就能够得到&#xff0c;这就是为什么有周考、月考&#xff08;忽然感觉自己分析的很透彻&#xff0c;hia
                    hia&#xff09;&#xff0c;一次得到之后&#xff0c;还希望有下次&#xff0c;所以一直在不断的努力。而学渣为什么喜欢打游戏&#xff1f;因为他们喜欢被重视、被关注、被需要、被认可&#xff0c;既然学习上不能被得到认可&#xff0c;那么就要在游戏上有所“建树”&#xff0c;让别人认为自己很厉害。<br/>
                    可是离开校园后&#xff0c;没有了考试怎么办呢&#xff1f;为什么不把这种本能用在有益的事情上呢&#xff1f;</p>
                <p>为此我们应该&#xff1a;</p>
                <ol>
                    <li><strong><font color="red">在csdn写博客&#xff0c;试着增加自己的访问、粉丝、点赞等</font></strong>&#xff0c;短期内能够让自己感觉自己很厉害&#xff0c;被人关注着&#xff0c;其实说实话&#xff0c;每个人都在忙着自己的事情忙着如何被别人关注&#xff0c;没有太多的经历关注别人&#xff0c;就像我这篇文章&#xff0c;我写他用了小半天&#xff0c;你读它却只用了半分钟&#xff0c;但是我们得到了自我提升的小动力。
                    </li>
                    <li>反复的告诉自己&#xff1a;成为大牛得到的认可比玩游戏得到的认可要多的多的多的多&#xff0c;毕竟大家都不是小孩子了嘛。</li>
                    <li>看源码<br/> 这玩意是真的上瘾&#xff0c;就像看LPL总决赛&#xff0c;让我们大开眼界&#xff0c;平常只能看到团战中xxx&#34;天神下凡&#xff0c;一锤五&#34;&#xff0c;却不知道为什么&#xff0c;所以才有仙仙的美女解说&#xff0c;在慢镜头中帮我们认真的分析。<br/>
                        耐心的看完一个框架的源码&#xff0c;甚至弄明白其中的一小块逻辑&#xff0c;绝对能让我们着实的自我陶醉一波&#xff0c;认为自己很秀&#xff0c;其实人家作者才是真的秀&#xff0c;我们只是看懂了人家的这波操作而已&#xff0c;不再是神仙打架&#xff0c;以后再有类似&#34;团战&#34;的时候&#xff0c;我们可以试着自己进行解说&#xff0c;甚至尝试秀一波操作。<br/>
                        看不懂怎么办&#xff1f;上网找找有没有&#34;美女解说&#34;的&#34;慢放视频&#34;&#xff0c;坏坏的。
                    </li>
                    <li>给自己定一个工资翻倍、进入xxx公司等目标&#xff0c;也能有一种唯我独尊的感觉&#xff0c;虽然时间稍长&#xff0c;但是也不是一直看不到成效。</li>
                    <li>努力的让自己成为&#xff0c;“快去找xxx&#xff0c;这个问题只有他能解决”。</li>
                    <li>试着找到那个总是不断给你发出挑衅的人&#xff0c;总是&#34;看不起&#34;你的人&#xff0c;你确实应该谢谢他&#xff0c;多去问问别人的薪资&#xff08;比你厉害的&#xff09;&#xff0c;不要生活在自己的小圈子&#xff0c;是的你需要一点兴奋剂</li>
                    <li>在线自习室&#xff0c;有个软件叫做Timing&#xff0c;里面有视频连麦学习的功能&#xff0c;简单来说就是多人开视频学习&#xff0c;足不出户就能体验一把自习室的感觉&#xff0c;也有很多qq群&#xff0c;我最近就加了一个&#xff0c;每天固定有人一起连麦学习&#xff0c;看到很多正在一起努力的人&#xff0c;自己也会不由自主的“从众”起来吧。当然了不能把学习太形式化&#xff0c;把学习过多的寄托于外物上&#xff0c;就像我们高中的时候也没有天天听着白噪音学习&#xff0c;没有天天通过手机里面的软件让自己的努力吧&#xff08;难道是因为那会还没有智能手机&#xff0c;暴露年龄了&#xff0c;卧槽&#xff0c;无情~&#xff09;<br/>
                        <br/> 阿西&#xff0c;看看&#xff0c;看看&#xff0c;不行了&#xff0c;难受。
                    </li>
                </ol>
                <p>等等能够在短期给自己一种通过学习&#xff0c;让自己“一打五”了&#xff0c;这种感觉的方式。</p>
                <p>但是不要过分的和朋友们吹嘘自己在努力中的“一打五”&#xff0c;因为人都是自重的&#xff0c;小心失去朋友。</p>
                <p>好吧感觉又拐到阶段性反馈上了&#xff0c;不过你应该懂我的意思了。<br/> 题外话&#xff1a;那些绿茶应该也是因为人的自重性吧&#xff0c;所以不能怪她们&#xff0c;因为这是本能。</p>
                <h1><a id="_125"></a>阶段性、强制性计划</h1>
                <p>仔细想一下&#xff0c;你是怎么上王者的&#xff1f;刚玩这个游戏的时候&#xff0c;你还是青铜零颗星&#xff0c;你想过自己有朝一日会成为王者吗&#xff1f;当然不可否认每个Player心中都有一个王者梦&#xff0c;但是促使你真正成为王者的是什么&#xff1f;是那一个一个的大分段、大分段中小分段、小分段中的小星星、小星星中的晋级分&#xff0c;这一个个的“小目标”简直就是把我们上王者的目标细化到了每一步&#xff0c;我不禁想起了《致青春》中陈孝正说过的一句话“我的人生是一栋只能建造一次的楼房&#xff0c;我必须让他精确无比&#xff0c;不能有一厘米差池”&#xff0c;而王者荣耀连楼房的图纸都帮我们设计好了。当然把阶段性计划做到最好的还是在抖音中很火的赵高&#xff0c;“你知不知道我在这边受什么样的欺负&#xff0c;你知不知道我受什么样的欺负&#xff0c;就因为我没钱没势&#xff0c;我残缺啊&#xff0c;我废人&#xff0c;你真了不起啊&#xff0c;大家都爱你啊&#xff0c;这什么破地方破地方破地方啊&#xff0c;我就是要一步一步一步一步一步一步地追到最高&#xff0c;我要做赵高&#xff0c;我不要再让人家欺负我了&#xff0c;我受不了了&#xff0c;我不要让别人欺负我&#xff0c;我要做一个&#xff0c;我要做一个最高的赵高&#xff0c;一人之下万人之上的赵高”</p>
                <p>我要在今天晚上上星耀&#xff01;结果是&#xff0c;就差一颗星&#xff0c;然后一晚上都没有睡&#xff0c;当然了这个例子不太恰当&#xff0c;这个和技术也有关系&#xff0c;哈哈哈。<br/>
                    再举个栗子&#xff0c;“一个亿”的小目标&#xff0c;其实这是大佬无私分享的真正的成功捷径&#xff0c;只是我们没有到达人家的高度罢了。<br/> 给自己定一个可行的、短期的、具体的计划&#xff0c;让自己能够得到反馈。
                </p>
                <p>为此我们应该&#xff1a;</p>
                <ol>
                    <li>制作可行的、短期的计划、具体的计划</li>
                    <li>如果今天的计划没有完成&#xff0c;熬夜也要完成&#xff0c;不要拖泥带水&#xff0c;这样第二天为了避免熬夜就会更加努力&#xff0c;形成良性循环。如果第二天很努力了还是需要熬夜完成&#xff0c;就需要调整计划了。</li>
                    <li>不要忘了第一条的阶段性奖励哦。</li>
                    <li>把计划精确到每一天&#xff0c;但是完成计划后就不要再增多了&#xff0c;很多人是这样的&#xff1a;制定计划-阶段完成-自我膨胀-提高目标-难以完成-计划失败&#xff0c;所以完成就好了&#xff0c;贵在坚持</li>
                    <li>给自己的阶段性计划定制时间&#xff0c;如果完不成奖励作废&#xff01;离开校园后没有阶段性的考试&#xff0c;很多人都会掉队&#xff0c;如果每天都能过成大学考试周&#xff0c;那么其实你已经是一个成功的人了。</li>
                    <li>发送报告&#xff0c;在美国加州开展的一项研究表明&#xff0c;记录自己的目标并向朋友每周发送进度报告的人&#xff0c;比那些只设定目标而不分享进展情况的人&#xff0c;打成目标的可能性要高出43%。</li>
                </ol>
                <h1><a id="_140"></a>兴趣</h1>
                <p>为什么打游戏的你&#xff0c;能省吃俭用&#xff0c;一个月能省出好几本书钱<br/>
                    为什么打游戏的你&#xff0c;注意力能高度集中&#xff0c;从来不累&#xff0c;也不需要什么“番茄工作法”<br/> 为什么打游戏的你&#xff0c;能一整晚一整晚不睡觉&#xff0c;能早上六点起床打到晚上十二点&#xff0c;都不感觉累&#xff0c;也不再怕秃头、不怕生病、不怕猝死<br/>
                    为什么打游戏的你&#xff0c;能出去吃都只订外卖&#xff0c;还边订外卖边打游戏&#xff0c;用回城的八秒钟和被杀死的几十秒吃一口米饭&#xff0c;上厕所也在电脑开机的几十秒顺便完成<br/>
                    为什么打游戏的你&#xff0c;什么生活的琐事也顾不上去想&#xff0c;头也不梳&#xff0c;脸也不洗&#xff0c;甚至衣服也不穿&#xff0c;简直就是忘我</p>
                <p>我认为是兴趣&#xff0c;是的兴趣真的很重要&#xff0c;上面的排名机制、唯我独尊等确实能帮助我们&#xff0c;但是我认为最源源不断的动力可能确实是兴趣。</p>
                <p>这个就不多说了&#xff0c;从小老师就教给我们“兴趣是最好的老师”&#xff0c;兴趣也是我们不会感到疲惫的动力源泉。可是在我看来兴趣其实就是上面的<code>及时反馈</code>。<br/>
                    为什么喜欢一样东西&#xff1f;<br/> 你喜欢王者荣耀吗&#xff1f;喜欢&#xff0c;为什么&#xff1f;因为我能够得到杀人的快感、因为我能在短期内比别人强&#xff0c;因为它能够给予我们及时的反馈。<br/>
                    你喜欢弹吉他吗&#xff1f;喜欢&#xff0c;为什么&#xff1f;因为我能通过拨动琴弦发出美好的声音&#xff0c;让自己开心&#xff0c;让别人认为“哇这个人好厉害”&#xff0c;因为它能够给予我们及时的反馈。<br/>
                    你喜欢女孩子嘛&#xff1f;喜欢&#xff0c;为什么&#xff1f;因为我追她&#xff0c;她会时而亲近我、时而疏远我&#xff0c;多奇妙的感觉&#xff0c;每个人都喜欢这种感觉&#xff0c;如果那个女孩子你都跟她告白了&#xff0c;她没有任何反应&#xff0c;那你还会持久的喜欢下去吗&#xff1f;当然这个例子可能不太恰当&#xff0c;因为有的人就喜欢吊着别人&#xff0c;这可能是一种恋爱学&#xff0c;我也只是道听途说&#xff0c;这里就不讨论了&#xff0c;咱也不懂&#xff0c;咱也不敢问。但是我想强调的是&#xff0c;因为它能给予我们及时的反馈。
                </p>
                <p>为此我们应该&#xff1a;</p>
                <ol>
                    <li><strong><font color="red">静下心来&#xff0c;全身心的投入进去&#xff0c;发自内心的喜欢它&#xff0c;热爱它&#xff0c;渴望它&#xff0c;真真切切的享受它。 </font></strong>
                    </li>
                    <li>严格执行<code>阶段性反馈机制</code>的那几点。</li>
                </ol>
                <h1><a id="_159"></a>总是给你&#34;新的环境&#34;</h1>
                <p>这点可能有点牵强&#xff0c;就像分段&#xff0c;你原来黄金&#xff0c;当你打到白金、钻石、星耀、王者&#xff0c;这个时候再回来打黄金&#xff0c;你发现&#xff0c;这都什么呀&#xff0c;好菜呀&#xff0c;人总是喜欢“新的环境”&#xff0c;就像电影里演的“遇强则强”。</p>
                <p>为此我们应该&#xff1a;</p>
                <ol>
                    <li>多出去走走看看&#xff0c;尝试去一些自己消费不起的餐厅</li>
                    <li>尝试出国旅游</li>
                    <li>认识更加优秀的人或者团队</li>
                </ol>
                <p>当你发现和身边的人想法不一样&#xff0c;格格不入的时候&#xff0c;自然想换一个“新的环境”</p>
                <h1><a id="_170"></a>及时止损</h1>
                <p>亚科斯说&#xff1a;“我们人生中90%的不幸&#xff0c;都是因为不甘心引起的。”<br/> 及时止损是成年人情感中最高标准的自律。</p>
                <p>游戏中也是如此&#xff0c;不甘是我们一局一局玩下去的原因&#xff0c;付出了却没有回报&#xff0c;想要证明自己&#xff0c;输了想赢&#xff0c;赢了还想赢&#xff0c;小学课本上只让我们拒绝黄赌毒&#xff0c;却没有让我们拒绝游戏&#xff0c;其实游戏和赌博没有什么区别吧&#xff1f;<br/>
                    及时止损和坚持并不冲突&#xff0c;真正的坚持&#xff0c;不是盲目做一件事情&#xff0c;而是及时放弃&#xff0c;调整和取舍。只有这样&#xff0c;人才会在正确的路上越走越远&#xff0c;越行越宽。止损是为了更好地前行&#xff0c;它决定了个人或者企业能否站得更高&#xff0c;走得更远&#xff0c;所以&#xff0c;不懂得止损&#xff0c;不足以谈坚持。&#xff08;摘自&#xff1a;<a
                            href="https://baijiahao.baidu.com/s?id&#61;1609490526664892548&amp;wfr&#61;spider&amp;for&#61;pc">懂得及时止损的人&#xff0c;活得更高级</a>&#xff09;
                </p>
                <p>为此我们应该&#xff1a;</p>
                <ol>
                    <li>如题&#xff1a;及时止损&#xff08;感情中亦是如此&#xff09;</li>
                </ol>
                <h1><a id="_180"></a>心理动机和生理动机</h1>
                <p>心理动机有释放现实中积压的负面情绪、打发时间、跟随大流一起玩、追求虚拟价值等待<br/> 生理动机是肾上腺素、内啡肽以及多巴胺这三种让人兴奋开学的神经激素&#xff0c;而这三种神经激素就是之前的心理动机所引起的。
                </p>
                <p>这三种物质产生会起到什么作用&#xff1f;肾上腺素主要是在战斗内起作用&#xff0c;他会让我们感觉“刺激”与“有趣”&#xff0c;内啡肽主要是在战斗后起作用&#xff0c;它会让我们“轻松”与“满足”&#xff0c;多巴胺则全时期在发挥作用&#xff0c;让我们有极强的动力继续玩下去&#xff0c;让我们觉得“渴求”并“上瘾”。<br/>
                    我们可知&#xff0c;从生理的角度&#xff0c;玩家在游戏中主要是追求肾上腺素、内啡肽与多巴胺&#xff0c;让这三种化学物质大量分泌的过程。<br/> 本质上讲&#xff0c;玩乐是人的天性&#xff0c;是顺应人性的&#xff0c;所以几乎人人爱玩。而学习却需要克服人性的弱点&#xff0c;是反荷尔蒙的&#xff0c;所以学霸才让人膜拜。借鉴游戏化思维&#xff0c;重新设计学习体验&#xff0c;也许达到让人沉迷学习不容易&#xff0c;但至少可以让学习变得更有趣&#xff0c;让更多的人在快乐中学习。<br/>
                    以上这段话&#xff0c;摘抄自搜狐某新闻。</p>
                <p>游戏&#xff0c;让我们大脑的兴奋阈值不断升高&#xff0c;此时除此之外的任何事情已经无法再让我们得到满足。<br/> 其实说实话&#xff0c;打来打去&#xff0c;就为了让自己分泌的“兴奋因子”到达那个“点”&#xff0c;一旦到达&#xff0c;又希望获得更高的“点”&#xff0c;所以又开一局&#xff0c;希望获得那个“点”或者更高的“点”&#xff0c;排位机制也就应运而生&#xff0c;随着我们游戏水平的不断提高&#xff0c;同等段位不能再带给我们足够的刺激&#xff0c;于是希望进入下个段位&#xff0c;遇到更厉害的人&#xff0c;给我们更加强劲的刺激&#xff0c;于是我们就进入追逐下个段位&#xff08;更高的刺激点&#xff09;&#xff0c;达到&#xff0c;再追逐…的死循环。
                </p>
                <p>为此我们应该&#xff1a;</p>
                <ol>
                    <li>学带劲的东西&#xff08;难一点的&#xff09;&#xff0c;学会之后会提高自己学习的兴奋阈值&#xff0c;然后就又会去苦苦的寻找那个“点”甚至更高的“点”&#xff0c;还有谁&#xff1f;能给我刺激&#xff1f;</li>
                    <li>努力的建立反馈系统&#xff0c;一想到学习之后就能xxx&#xff0c;就会心潮澎湃&#xff0c;十分激动</li>
                    <li>学习的时候全神贯注&#xff0c;一个周期后全身放松&#xff08;番茄工作法&#xff09;&#xff0c;如此往复</li>
                </ol>
                <h1><a id="_198"></a>洗脑</h1>
                <p>洗脑是我们喜欢这个游戏的一个很主要的因素&#xff0c;社会对我们的洗脑&#xff0c;我们对自己的洗脑&#xff0c;亲友和同事们对我们的洗脑&#xff0c;甚至老师对我们的洗脑。<br/>
                    电影、话剧、动画片中&#xff0c;如果一个角色被处以死刑了&#xff0c;他最后的遗愿是什么&#xff1f;猜对了&#xff0c;不是打游戏&#xff0c;是吸一根烟&#xff0c;好吧&#xff0c;吸烟用在这里不合适&#xff0c;但是可以当做一个&#x1f330;。还有一个人正在危急关头—他的热气球将起火坠落&#xff0c;或者摩托车侧厢即将在栽进峡谷&#xff0c;或者他是哥伦布&#xff0c;他的船马上就要从海洋的尽头掉进深海之中。此时轻音乐想起&#xff0c;没有任何过多的言语&#xff0c;那个人点起一只香烟&#xff0c;脸上洋溢着幸福的表情。这给我们的信息是什么&#xff1f;“香烟是世界上最美好的东西&#xff0c;所以才会把他当做临终的选择”。<br/>
                    电视上的许多广告、综艺都充斥着王者荣耀&#xff0c;大家在打游戏的过程中尖叫&#xff0c;呐喊&#xff0c;脸上同样洋溢着幸福的表情&#xff0c;无形中不也是告诉我们“王者荣耀是是世界上最好的东西”<br/>
                    当初进入游戏的世界就是因为周围的人都玩&#xff0c;室友、同学&#xff0c;他们都表现的很快乐&#xff0c;自己为了合群而入了坑&#xff0c;拼命的努力“学习”如何打游戏。<br/> 等等~</p>
                <p>下面是我们主观意识上&#xff0c;打游戏的“好处”&#xff1a;</p>
                <p>打游戏能释放压力&#xff1f;<br/> 什么鬼&#xff1f;这么说吧&#xff0c;举个&#x1f330;&#xff0c;当你学习某项技能的时候&#xff0c;突然感觉呼吸急促&#xff0c;压力山大&#xff0c;这个时候如果打一局游戏&#xff0c;你感觉舒服多了有没有&#xff1f;其实并不是打游戏舒服多了。而是你的大脑在欺骗你&#xff0c;上小节说的肾上腺素、内啡肽以及多巴胺这三个东西&#xff0c;大脑希望再次获得&#xff0c;原来学习的压力&#xff0c;是10&#xff0c;大脑渴望获得肾上腺素、内啡肽以及多巴胺的压力是5&#xff0c;此时我们一共有15的压力&#xff0c;当我们能玩上一局游戏的时候&#xff0c;压力变成了10&#xff0c;哇&#xff0c;好放松有没有&#xff1f;你懂我的意思了吧~
                </p>
                <p>打游戏能让我们不无聊&#xff1f;<br/> 无聊是一种精神状态&#xff0c;在没有打游戏的时候&#xff0c;会有戒断反应&#xff0c;当你的注意力被某种东西吸引的同时承受外界的压力的时候&#xff0c;通常不会有任何感觉。但是当你无聊的时候&#xff0c;注意力就会集中在戒断反应上&#xff0c;于是乎&#xff0c;点击了timi。打游戏不是缓解了无聊&#xff0c;而是无聊的时候&#xff0c;打游戏的瘾上来了。从来不打游戏的人&#xff0c;人家活得不也很充实&#xff0c;不也从来不会感到无聊吗&#xff1f;<br/>
                    所以很多人说&#xff1a;“我无聊了就想抽根烟&#xff0c;我无聊了就想打一局”&#xff0c;无聊的时候&#xff0c;你同样可以做其他的事情&#xff0c;但是目前迫切需要的是打游戏罢了。</p>
                <p>打游戏能够让人放松&#xff1f;<br/> 这个有点类似“打游戏能释放压力&#xff1f;”&#xff0c;其实讲道理打游戏并不能让人放松&#xff0c;他只会让我们的心跳加快。大学上了一天的课&#xff0c;晚上到了宿舍&#xff0c;打开timi来一局放松放松。上了一天的课&#xff0c;谁回到宿舍不是很放松&#xff1f;但是会打游戏的人不一样&#xff0c;他们不能全心全意的放松&#xff0c;他们还有一种“饥饿”需要满足&#xff0c;他们以为“睡前打游戏&#xff0c;赛过活神仙”&#xff0c;殊不知&#xff0c;真正让他们无法放松的是游戏。
                </p>
                <p>改编自《这本书能让你戒烟》-亚伦.卡尔</p>
                <p>好像真实情况并不是我们所想的那样~</p>
                <p>为此我们应该&#xff1a;</p>
                <ol>
                    <li>想办法给自己洗脑&#xff0c;骚年&#xff0c;静下心来学习吧&#xff0c;不用多久&#xff0c;我就会升职加薪、当上总经理、出任CEO、迎娶白富美、走上人生巅峰&#xff0c;想想还有点小激动。</li>
                    <li>i am so handsome , i am so cool , i love study , so many girls love me</li>
                    <li>我就是爱学习&#xff0c;别叫我停下来&#xff0c;我就是爱学习&#xff0c;呼吸打着节拍。</li>
                    <li>实在编不下去了~</li>
                </ol>
                <h1><a id="_227"></a>快节奏&#xff0c;六分投</h1>
                <p>为什么你放下了LOL&#xff0c;却没有放下王者荣耀&#xff0c;除了LOL需要坐着&#xff0c;而王者荣耀能够躺赢&#xff08;躺在床上玩&#xff0c;然后赢了&#xff0c;俗称躺赢&#xff09;之外&#xff0c;玩过LOL的都知道王者荣耀是LOL的亲儿子&#xff0c;而王者荣耀缩小了游戏的地图&#xff0c;增大了游戏的建筑物&#xff0c;王者荣耀中后羿从泉水裸奔到河道大约需要二十秒&#xff0c;而英雄联盟中卡牌从基地裸奔到河道大约需要三十秒&#xff08;摘抄自某视频&#xff09;&#xff1b;而且“欢迎来到王者荣耀”刚说完就是“敌军还有五秒到达战场&#xff0c;请做好准备”&#xff0c;在10秒钟时就出兵。而英雄联盟开局时间:00:30,出现欢迎字样&#xff0c;01:00,提醒30秒后出兵&#xff0c;01:30,第一波兵&#xff0c;小兵每30秒刷新一波兵线&#xff1b;王者荣耀取消了补兵机制&#xff0c;且小兵对塔的伤害更加客观&#xff1b;王者荣耀投降只需要6分钟&#xff0c;英雄联盟最少都需要十五分钟才能投降(remake需要有人掉线)&#xff1b;买装备不需要回城&#xff0c;随时随地都可以&#xff0c;就像我们去步行街和在家逛淘宝&#xff0c;效率你说呢。</p>
                <p>王者荣耀的快节奏和我们玩手机时间的碎片化不谋而合&#xff0c;以至于可以随时随地来一局&#xff0c;饭店、厕所、火车、课间等等&#xff0c;其实我们还是很理智的&#xff0c;知道打游戏有点浪费时间&#xff0c;而王者荣耀就巧妙在了这里&#xff0c;让我们能够在不断骗自己的基础上&#xff0c;理直气壮的告诉自己“我就玩十分钟”&#xff0c;上菜了就不玩了&#xff0c;火车到了就不玩了&#xff0c;上课就不玩了&#xff0c;殊不知已经掉入了一个陷阱&#xff0c;实不相瞒&#xff0c;大三的一个课间&#xff0c;我告诉自己“就玩一局&#xff0c;上课就停”&#xff0c;然后…
                    …放学了&#xff0c;等我打完突然感觉有点饿的时候&#xff0c;抬头发现教室中只有我一个人了&#xff0c;着实让我感觉到了白驹过隙的感觉&#xff0c;而我现在只能做的&#xff0c;便是以一段拙劣的文字来祭奠我那段流逝的岁月&#xff0c;我想起那天夕阳下的奔跑&#xff0c;那是我逝去的青春。</p>
                <p>如果把这些打游戏的碎片化时间用在学习上&#xff0c;我的天&#xff0c;我现在只能做的&#xff0c;便是以一段拙劣的文字来称赞我这大胆的想法。</p>
                <p>为此我们应该&#xff1a;</p>
                <ol>
                    <li>把任务分成更小粒度&#xff0c;比如学习不是只有一节课四十五分钟才可以。没事了带本书在身上&#xff0c;饭店、厕所、火车、课间等等&#xff0c;随时随地来一页。</li>
                    <li>
                        先给自己设置一个较小的目标&#xff0c;暗示自己&#xff0c;比如我就学习五分钟&#xff0c;万事开头难&#xff0c;你会发现学习完这五分钟之后&#xff0c;其实还真的有种欲罢不能的感觉呢。
                    </li>
                </ol>
                <h1><a id="_238"></a>易上手&#xff0c;随便坑</h1>
                <blockquote>
                    <p>“易上手”几乎决定了一款MOBA能在多大程度上流行。从星际魔兽等多单位控制到单角色控制、从RTS多快捷键到MOBA简易快捷指令&#xff0c;从DOTA的复杂装备合成购买&#xff0c;到LOL的“一站式购物”&#xff0c;尽管对抗性的核心不变&#xff0c;但竞技游戏似正朝着一个更为简便易上手的方向走去。《王者荣耀》再次简化了MOBA的操作&#xff0c;让玩家更容易上手。<br/>
                        一方面&#xff0c;《王者荣耀》降低了默认控制方式的难度。《王者荣耀》采用了双轮盘&#xff08;左右两边一个操控区域&#xff09;的操控方式&#xff0c;玩家通过左右两边的虚拟按钮进行控制&#xff0c;默认有系统设定角色的攻击范围。新手玩家默认&#xff0c;由系统辅助攻击&#xff0c;可以比较容易地进行游戏。轮盘操作在移动端上的优势&#xff0c;是相对于传统点控操作方式而言。<br/>
                        传统MOBA通过鼠标点控&#xff0c;来达成较为精准的走位、攻击等控制操作。而《王者荣耀》把这种精准的操作要求模糊化&#xff0c;不论是技能释放的位置方向&#xff0c;还是补兵与攻击英雄的优先性&#xff0c;均默认交由系统智能判定&#xff0c;减少新手玩家的操作。传统点控式操作&#xff0c;在另一款MOBA手游《虚荣》上有过体现。但是《虚荣》并没有在国内火起来&#xff0c;毕竟蹲厕所的时候总不能把手机平放在&#xff0c;额&#xff0c;我也不知道放哪好。<br/>
                        另一方面是增加游戏内引导。新手教程不多说&#xff0c;最值得一提的是游戏中的装备购买系统。玩家会发现系统给每个角色设置了三套装备配置。王者荣耀通过在游戏过程内推荐装备&#xff0c;免去了新手玩家选择装备的困惑。<br/>
                        来自&#xff1a;https://haokan.baidu.com/v?pd&#61;wisenatural&amp;vid&#61;1772064410371027203</p>
                </blockquote>
                <p>王者荣耀的易上手性确实很大程度上&#xff0c;让我们欲罢不能&#xff0c;不断的通过拙劣的操作带给自己巨大的身体和心里上的满足。</p>
                <p>为此我们应该</p>
                <ol>
                    <li>学习方向明确&#xff0c;不要听风就是雨&#xff0c;自己本是一个普通的本科生&#xff0c;就不要去搞一些AI人工智能之类的了&#xff0c;你确定一腔热血的搞下去是有回报的吗&#xff1f;(说给我自己听的哈)。</li>
                    <li>学习的目标切实可行&#xff0c;最大的悲剧就是&#xff0c;有些人一会踌躇满志&#xff0c;一会万念俱灰&#xff0c;自己打击自己的信心真的不好玩。</li>
                </ol>
                <h1><a id="_251"></a>野心</h1>
                <p>你想上王者么&#xff1f;不上王者你玩这游戏干嘛&#xff1f;</p>
                <p>雷军曾经说&#xff1a;<code>野心</code>和<code>执行力</code>&#xff0c;才是一个人最核心的竞争力。<code>一个被巨大野心驱动的人&#xff0c;会极度自律、昼度夜思、殚精竭虑、不知疲倦&#xff0c;因为他不是想赢&#xff0c;而是必须赢。</code>
                </p>
                <p>为此我们应该&#xff1a;</p>
                <ol>
                    <li>略&#xff08;…&#xff09;</li>
                </ol>
                <h1><a id="Deadline_258"></a>Deadline是第一生产力</h1>
                <p>又是一个风雨交加的夜晚&#xff0c;隔壁寝室已经&#34;整装待发&#34;&#xff0c;我们难道就这么自甘堕落下去&#xff1f;明天就下赛季了&#xff0c;还想冲波白金怎么办&#xff1f;要不然明天直接就掉白银去了&#xff0c;没办法了&#xff0c;你懂我的意思把~
                    王者荣耀现在已经第十几赛季了&#xff0c;具体多少忘了&#xff0c;因为真的太频繁了。<br/> 五五开黑节&#xff0c;需要在10天之内&#xff0c;集齐n张xxx卡片&#xff0c;即可获得一张xxx史诗级皮肤体验卡。<br/>
                    无限火力明天就要结束了。<br/> 。。。</p>
                <p>为什么王者荣耀三个月左右一个赛季&#xff1f;<br/> 为什么五五开黑节只有10天&#xff1f;<br/> 为什么无限火力只有一个月&#xff1f;<br/> 它这样频繁的给我们制造各种Deadline&#xff0c;就是为了使得我们无法抗拒的去&#34;提高生产力&#34;&#xff0c;而在Deadline之前&#34;完成任务&#34;也会带给我们无尽&#xff08;不是那个无尽&#xff09;的喜悦&#xff0c;脸上洋溢的笑容仿佛要昭告天下&#xff0c;我是这个世界上最强的人。
                </p>
                <p>为此我们应该&#xff1a;</p>
                <ol>
                    <li>不论是工作还是学习&#xff0c;为自己设置不同粒度的Deadline</li>
                    <li>辞职跳槽&#xff0c;听别人说窗口期不能超过三个月&#xff0c;也就是说需要在三个月之内充电完成。&#xff08;<code>请勿胡乱尝试</code>&#xff0c;这只是我的一个想法&#xff0c;出现严重后果概不负责&#xff09;
                    </li>
                </ol>
                <h1><a id="_274"></a>最后总结下比较好的学习的方法&#xff1a;</h1>
                <h2><a id="_277"></a>费曼学习法</h2>
                <p>第一步&#xff1a;选择目标<br/> 第二步&#xff1a;教学<br/> 第三步&#xff1a;纠错并深入学习<br/> 第四步&#xff1a;简化<br/>
                    https://www.jianshu.com/p/9d12f211dc73<br/> 总结一下就是用最简单的方法讲给别人听&#xff0c;并且使得别人容易接受。<br/>
                    我个人认为写博客就是一个比较简单的费曼学习法&#xff0c;尤其是在 <strong><font color="red">CSDN</font></strong> 写博客&#xff0c;哈哈哈。</p>
                <h2><a id="_285"></a>康奈尔笔记法</h2>
                <p>

                <h2><a id="_289"></a>两列清单法</h2>
                <p>两列清单法是投资大师巴菲特常用的方法。<br/> 过程很简单&#xff1a;写下前25个目标&#xff0c;圈出最重要的前5项放在A类&#xff0c;后20个目标分在B类。在完成A类目标之前&#xff0c;不要在B类目标上花一秒钟时间。<br/>
                    每一个目标都有成本&#xff0c;大多数人往往喜欢在诸多幻想中自由切换&#xff0c;而不是真正地采取行动。<br/> 前五个目标才是重要的&#xff0c;其余的都是噪音&#xff0c;随时会对你造成干扰&#xff0c;一定要设法避免。<br/>
                    要么搞定&#xff0c;要么删除。看起来很残忍&#xff0c;但只有这样才能让人更专注。<br/> 两列清单法其实就是抓主要矛盾&#xff0c;彻底放弃次要矛盾。</p>
                <h2><a id="_297"></a>时间统计法</h2>
                <p>我比较推崇柳比歇夫的时间统计法&#xff0c;它建立在数学统计的基础之上。<br/> 这种方法重点是对消耗时间的记录进行分析&#xff0c;使人们能正确认识自己的时间利用状况&#xff0c;并养成管理自己时间的习惯。<br/>
                    首先是忠实地记录你的时间都去哪儿了&#xff0c;千万不要太相信你的记忆力。<br/> 然后是统计与分析&#xff0c;每隔一段时间&#xff0c;对耗时情况进行分类统计并且绘制成图表&#xff0c;直观地看出耗时比例&#xff0c;对照自己的工作效果&#xff0c;分析浪费时间的原因。<br/>
                    最后是反馈&#xff0c;制定出消除浪费时间的计划&#xff0c;运用到下一个阶段。</p>
                <h2><a id="_303"></a>思维导图法</h2>
                <p>Thinking Map比较流行&#xff0c;用思维导图做笔记&#xff0c;会让人在视觉环境中轻松地整理知识、建立联系。<br/> 学会使用类比&#xff0c;把抽象信息具体化&#xff0c;发挥想象力&#xff0c;让知识内化。<br/>
                    在脑海中构筑画面&#xff0c;抽象概念也能成为有用的直觉。<br/> 思维导图加强了基础概念与复杂想法之间的连接。如何把一本三十万字的书简化成一张图&#xff0c;属于艺术加工&#xff0c;而不是机械摘录。<br/>
                    习惯使用图表做笔记&#xff0c;确实能提升理解和记忆&#xff0c;但是记忆毕竟有很大局限&#xff0c;最好建立自己的数据库&#xff0c;遇到所需有能力一键调用。</p>
                <p>ps&#xff1a;以上两列清单法、时间统计法、思维导图摘自百度 https://baijiahao.baidu.com/s?id&#61;1610848263867011389&amp;wfr&#61;spider&amp;for&#61;pc</p>
                <h2><a id="_311"></a>番茄工作法</h2>
                <p>这个准确的说不是学习的方法&#xff0c;但是对于专注力的培养确实有不错的效果。</p>
                <h2><a id="_313"></a>人的精力是有限的</h2>
                <p>这里的精力不是那个精力哈。<br/> 假如一个人的精力是10&#xff0c;工作用了7&#xff0c;游戏用了2&#xff0c;最后只要1的精力去学习&#xff0c;而学习是对于你来说很重要的事情&#xff0c;那你能做好吗&#xff1f;<br/>
                    学生时代不乏听说谁谁谁&#xff0c;游戏打得好&#xff0c;学习也好&#xff0c;对不起不存在这样的人&#xff0c;就算真的有&#xff0c;其实他可以把学习做的更好&#xff01;</p>
                <p>为此我们应该&#xff1a;</p>
                <ol>
                    <li>摒弃游戏、淫欲、酒精这样强刺激的东西</li>
                </ol>
                <h1><a id="_321"></a>关于如何戒除王者荣耀的个人见解</h1>
                <p>首先如果你已经读到了这里相信你对王者荣耀的成瘾机制有了一定的了解&#xff0c;就像戒烟&#xff0c;如果你真正的明白了成瘾的原因&#xff0c;其实真的没有那么大的需求了。</p>
                <p>下面说一下我认为可行的戒除王者荣耀的方法&#xff1a;</p>
                <ol>
                    <li>打完一定不要急着开&#xff0c;缓五秒钟<br/> 有没有这样的经历&#xff0c;打游戏的时候反复告诉自己最后一局&#xff0c;可是打完的时候&#xff0c;还没等自己反应过来&##xff0c;手指已经按了排位按钮&#xff0c;等进到游戏里面&#xff0c;才想起来自己刚才的<code>誓言</code>&#xff0c;除了心里因素&#xff0c;还有我上面说的生理需求&#xff0c;刚刚打完&#xff0c;身体渴望再次得到多巴胺这些物质&#xff0c;所以这和你的意志力已经没有关系了&#xff0c;这是<code>本能</code>&#xff0c;这个时候不妨让自己缓五秒钟&#xff0c;给自己一个缓冲期&#xff0c;让身体对这些物质的渴望降低一些&#xff0c;然后想想这短短的一生、梦想之类的&#xff0c;相信会理智很多。
                    </li>
                    <li>打完冥想、深呼吸<br/> 原因同上&#xff0c;让自己冷静一下&#xff0c;理性的判断是滚去学习&#xff0c;还是石乐志点击再来一局。</li>
                    <li>安利app&#xff1a;使命闹钟<br/> 这个玩意我是用来早起的&#xff0c;不过它的功能可以让人清醒一下&#xff08;想关闭闹钟需要甩手机30次、解答三个数学题、扫码等&#xff09;&#xff0c;不至于陷入王者荣耀一局接一局&#xff0c;试着用它给自己设置一个玩游戏的时间吧&#xff08;输了排位别来打我&#xff0c;哈哈~&#xff09;
                    </li>
                    <li>子在齐闻韶&#xff0c;三月不知肉味&#xff08;评论区一位网友的回答&#xff09;<br/> 当你通过我说的反馈机制&#xff0c;或者其他的方式已经全身心的进入了学习的状态&#xff0c;相信你也可以<code>子在齐闻韶&#xff0c;三月不知肉味</code>
                    </li>
                    <li>每次打完记得删游戏<br/> 不管你下次是不是还是会下载&#xff0c;请保持这个习惯&#xff0c;现在下载一次快3个G了&#xff0c;用5g下估计也要好久吧哈哈。</li>
                    <li>关掉声音玩游戏&#xff0c;刺激就不会那么强烈&#xff0c;感觉玩的憨憨的感觉~</li>
                    <li>在 <strong><font color="red"> csdn</font></strong> 写博客&#xff08;这只是一个思路哈&#xff09;<br/>
                        积累粉丝&#xff0c;提升排名<br/> 每个人都希望获得别人的认可&#xff0c;找到自己的价值&#xff0c;当你发现自己的价值不是五杀、王者&#xff0c;而是写代码的时候&#xff0c;应该就能落实上面的第3点了。
                    </li>
                    <li>给自己定个目标<br/> 比如进入阿里&#xff0c;设定期限&#xff0c;比如今年年底&#xff0c;学习的时间都没有&#xff0c;还有时间打游戏&#xff1f;</li>
                    <li>找个女朋友<br/> 呵呵&#xff0c;当我没shuo&#xff0c;有女朋友谁还玩这个~ 有女朋友我会在这里写博客&#xff1f;</li>
                    <li>王者荣耀付出的努力和自己的回报不成正比<br/> 反复告诉自己&#xff1a;王者荣耀花费了大量的时间&#xff0c;得到的却是短暂的荷尔蒙飙升&#xff0c;短暂的喜悦&#xff0c;而同样的时间放在工作学习上&#xff0c;换来的是真正的知识、金钱、女朋友、名利&#xff0c;等等这些实实在在的我们这些俗人需要的东西。
                    </li>
                    <li>封了英雄联盟&#xff0c;王者荣耀的号&#xff0c;淘宝还是咸鱼好像有卖的</li>
                    <li>最好去打打排位&#xff0c;尤其是英雄联盟&#xff08;因为王者荣耀相对太简单&#xff0c;没有挫败感&#xff09;&#xff0c;借别人大师王者的号&#xff0c;你就知道你在游戏里更加的失败&#xff0c;不要妄想在游戏里找到高人一等的感觉。<br/>
                        在英雄联盟赛季即将结束的前两天&#xff0c;凌晨11点开始打排位&#xff0c;这会代练比较多&#xff0c;你就发现你在黄金白银局也赢不了了&#xff0c;你会发现别人把你堵在泉水出不去&#xff0c;你会发现这个游戏变了&#xff0c;你发现你可能只是个黑铁。<br/>
                        找玩的好的同学一起双排&#xff08;我说的好是钻石大师那种&#xff09;&#xff0c;看看人家能单手把对面五个人按在地上摩擦&#xff0c;不要妄想跟人家一样&#xff0c;为什么你排位上不去&#xff1f;你真的以为是队友坑吗&#xff1f;你真的以为是因为队友挂机吗&#xff1f;不是的&#xff0c;是因为你自己不能像同学一样一打五&#xff0c;不能像同学一样十五分钟让对面自动放弃&#xff0c;不能像同学一样制造血条消失术。还在每次都在匹配中跟那些刚刚入坑的瘾友们找优越感吗&#xff1f;就你的水平&#xff0c;只要有手的人&#xff0c;只要肯花时间都可以玩成这样子&#xff0c;而且仔细想想你玩这游戏的时间可能确实已经不短了&#xff0c;可是还是玩成这样子。<strong><font
                                color="red">算了吧&#xff0c;你真的不是这块料&#xff01;</font></strong><br/> 既然我们在游戏中不能找到优越感&#xff0c;那就尝试回归正常的生活把&#xff0c;虽然不能“一打五”&#xff0c;但是至少挫败感不会那么的强烈&#xff01;<br/>
                        面对同学的冷眼、嘲讽&#xff0c;算了把&#xff0c;我们承认&#xff0c;我们真不是这块料&#xff0c;不如“另辟蹊径”&#xff0c;在学习上超过他吧。<br/>
                        <strong><font color="red">你发现在游戏上想要有所作为&#xff0c;可能远远要比花在学习上的时间还要长&#xff0c;而且可能并没有很好的成效和回馈&#xff0c;因为你确实不是这块料&#xff0c;承认吧</font></strong>
                    </li>
                    <li><strong><font color="red"> “念起即断&#xff0c;念起不随&#xff0c;念起即觉&#xff0c;觉之则无” </font></strong>&#xff0c;戒色吧里面的&#xff0c;我认为在这里同样适用&#xff0c;准确的说所有成瘾的都适用。
                    </li>
                    <li>尝试一天不玩&#xff0c;这东西和尼古丁一样&#xff0c;就刚刚离开它的两小时比较迫切的想再次得到。</li>
                    <li>功亏一篑<br/> 告诉自己&#xff1a;打游戏前期准备二十分钟、四十分钟&#xff0c;只为了得到最后的一声“victory”&#xff0c;这时候体内的荷尔蒙迅速上升&#xff0c;短时间内又消失&#xff0c;快感荡然无存&#xff0c;而前期所做的努力也会付诸东流&#xff0c;从零开始&#xff0c;所以每次打完游戏都会很空虚&#xff0c;感到意犹未尽&#xff0c;仔细想想&#xff0c;这不是拿自己的时间在打水漂吗&#xff0c;这和自杀有什么区别&#xff1f;可是学习不会&#xff0c;学习是一种积累&#xff0c;是终身受益的&#xff0c;能够带来的是可叠加的收益。
                    </li>
                    <li>千万不要想着&#xff0c;就玩一局&#xff0c;你不是圣人&#xff0c;你自己的自控能力这么久了心里没点x数么&#xff1f;</li>
                    <li>远离那些和你一拍即合的人&#xff0c;找到那个能在正确的道路上发起挑衅的人&#xff01;</li>
                    <li>让自己忙起来</li>
                    <li>及时止损</li>
                    <li>如果已经下定决心了&#xff0c;就分解铭文&#xff08;重置-&gt;升级-&gt;重置-&gt;升级-&gt;重置-&gt;升级-&gt;重置&#xff09;吧&#xff0c;以防下次没有忍住&#xff0c;然后又会陷入怪圈中。</li>
                    <li>打卡&#xff0c;当初烟就是这么戒掉的&#xff0c;大概打卡一个月&#xff0c;后来打卡都给忘了&#xff0c;因为忘记自己会抽烟了。</li>
                    <li>Deadline 是第一生产力&#xff0c;给自己的目标设置一个Deadline&#xff0c;让自己紧张起来。</li>
                    <li>生于忧患死于安乐&#xff0c;最近是不是过的太安逸了&#xff1f;</li>
                    <li>《这本书能让你戒烟》-亚伦.卡尔</li>
                </ol>
                <h1><a id="_366"></a>安利时间</h1>
                <p>Forest、<a
                        href="https://www.yuque.com/login?platform&#61;wechat&amp;inviteToken&#61;f44225123bcab02038f11cc0a7ab720ca25b3f8ea81d9e6a1de8dc165cbe20b6">语雀</a>、<a
                        href="https://www.processon.com/i/5bcfe8c5e4b0d4d65c3d233c">ProcessOn</a>、滴答清单、使命闹钟、番茄Todo、不做手机控、小睡眠、SleepTown、Timing
                </p>
                <hr/>
                <p>在这里不太建议多人种树&#xff0c;之前因为粉丝建议开了一个种树的群&#xff0c;最终被我解散了&#xff0c;经过实践发现&#xff0c;组队种树可能并不是一个很好的选择&#xff08;时间节点不同、建房间邀请人都需要时间&#xff0c;会分散注意力&#xff0c;而且可能太居于表面等&#xff09;&#xff0c;种树是一种形式&#xff0c;不是一种时尚&#xff0c;<strong><font
                        color="red"> 我们应该从内心深处明白自己想要什么&#xff0c;渴望什么&#xff0c;而不是把这真的当做一个游戏&#xff0c;刻意的去种树。</font></strong></p>
                <p>为了防止大家反复的加我的支付宝账号&#xff0c;这里澄清一下&#xff0c;这个种树的软件叫做
                    <mark>Forest</mark>&#xff0c;之前怕被说做广告&#xff0c;所以没有在文中提及。
                </p>
                <p>如果对于文章没有提及的观点、错误的地方、或者更好的方法、比较好的学习方法&#xff0c;以及如何戒除王者荣耀等欢迎在评论区留言~</p>
                <h1><a id="_377"></a>温馨提示</h1>
                <p>如果觉得这篇文章对你有帮助&#xff0c;那么建议不要往下翻评论&#xff0c;关掉文章&#xff0c;赶紧去做事把。</p>
            </div>
            <div class="m-padded-lr-responsive">
                <!--标签-->
                <div class="ui basic teal left pointing label">方法论</div>
            </div>
            <div class="ui center aligned basic segment">
                <button id="payButton" class="ui orange basic circular button">赞赏</button>
            </div>
            <div class="ui payQR flowing popup transition hidden">
                <div class="ui orange basic label">
                    <div class="ui images" style="font-size: inherit !important;">
                        <div class="image">
                            <img src="../static/images/wx.png" alt="" class="ui round bordered image" style="width: 120px">
                            <div>微信</div>
                        </div>
                        <div class="image">
                            <img src="../static/images/Alipay.jpg" alt="" class="ui round bordered image" style="width: 120px">
                            <div>支付宝</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui attached message positive segment">
            <!--文章信息-->
            <div class="ui grid">
                <div class="eleven wide column">
                    <ui class="list">
                        <li>作者：王瀚（联系作者）</li>
                        <li>发表时间：2021-01-02 09:08</li>
                        <li>版权声明：自由转载-非商用-非衍生-保持署名（创意共享3.0许可证）</li>
                        <li>文章转载：请在文末添加作者微信二维码</li>
                    </ui>
                </div>
                <div class="five wide column">
                    <img src="../static/images/WeChat.jpg" alt="" class="ui right  floated rounded bordered image" style="width: 110px">
                </div>
            </div>
        </div>
        <div class="ui bottom attached segment">
            <!--评论区域-->
            <div class="ui teal segment">
                <div class="ui threaded comments">
                    <h3 class="ui dividing header">Comments</h3>
                    <div class="comment">
                        <a class="avatar">
                            <img src="https://unsplash.it/100/100?image=1005">
                        </a>
                        <div class="content">
                            <a class="author">Matt</a>
                            <div class="metadata">
                                <span class="date">Today at 5:42PM</span>
                            </div>
                            <div class="text">
                                How artistic!
                            </div>
                            <div class="actions">
                                <a class="reply">回复</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment">
                        <a class="avatar">
                            <img src="https://unsplash.it/100/100?image=1005">
                        </a>
                        <div class="content">
                            <a class="author">Elliot Fu</a>
                            <div class="metadata">
                                <span class="date">Yesterday at 12:30AM</span>
                            </div>
                            <div class="text">
                                <p>This has been very useful for my research. Thanks as well!</p>
                            </div>
                            <div class="actions">
                                <a class="reply">回复</a>
                            </div>
                        </div>
                        <div class="comments">
                            <div class="comment">
                                <a class="avatar">
                                    <img src="https://unsplash.it/100/100?image=1005">
                                </a>
                                <div class="content">
                                    <a class="author">Jenny Hess</a>
                                    <div class="metadata">
                                        <span class="date">Just now</span>
                                    </div>
                                    <div class="text">
                                        Elliot you are always so right :)
                                    </div>
                                    <div class="actions">
                                        <a class="reply">回复</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment">
                            <a class="avatar">
                                <img src="https://unsplash.it/100/100?image=1005">
                            </a>
                            <div class="content">
                                <a class="author">Joe Henderson</a>
                                <div class="metadata">
                                    <span class="date">5 days ago</span>
                                </div>
                                <div class="text">
                                    Dude, this is awesome. Thanks so much
                                </div>
                                <div class="actions">
                                    <a class="reply">回复</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="ui form">
                <div class="field">
                    <textarea name="content" placeholder="请输入评论信息..."></textarea>
                </div>
                <div class="fields">
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="nickname"placeholder="姓名">
                        </div>
                    </div>
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <div class="ui left icon input">
                            <i class="mail icon"></i>
                            <input type="text" name="email"placeholder="邮箱">
                        </div>
                    </div>
                    <div class="field m-mobile-wide m-margin-bottom-small">
                        <button class="ui m-mobile-wide teal button">
                            <i class="edit icon"></i>发布
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<br>
<br>


<!--底部footer-->
<footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/WeChat.jpg" class="ui rounded image" style="width: 110px" alt="">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新文章</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事（User Story）</a>
                    <a href="#" class="item">用户故事（User Story）</a>
                    <a href="#" class="item">用户故事（User Story）</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">E-mail: 1561675255@qq.com</a>
                    <a href="#" class="item">QQ: 1561675255</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">介绍</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">
                    这是我的个人知识库管理平台，上面有我平时学习的笔记，以及相关的文本，支持全文搜索，也会分享关于编程、写作、思考的任何内容，希望可以给来到这里的人一些帮助...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2021 - 2022 Wanghan Designed by Wanghan!</p>
    </div>
</footer>
<!--<script src="https://www.jq22.com/jquery/jquery-3.3.1.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        //显示
        $('.m-item').toggleClass('m-mobile-hide');
    });
    //赞赏
    $('#payButton').popup({
        popup : $('.payQR.popup'),
        on : 'click',
        position: 'bottom center'
    });
</script>
</body>
</html>